body {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.panel-primary > .panel-heading {
    background-color: #646464;
}
.jumbotron {
    margin-top: 30px;
    border: 10px #646464 solid;
}
.cityPic {
    max-width: 100%;
    margin: auto;
}
.btn {
    background-color: #646464;
    color: white;
}
#mdcLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    margin-top: 30px;
    border: 5px #646464 solid;
}
tr:nth-child(even) {
    background-color: #D3D3D3;
}   
